<h1>CRUD com Vue</h1>
<div id="root">

    <label>Novo Usuário:</label>
    <input id="input" type="text" @input="novoNome = $event.target.value"></input>
    <button @click="adicionarUsuario" :disabled="novoNome == 0 || novoNome == ''">Adicionar</button>

    <h3>Lista de Usuários</h3>
    <ul>
        <li v-for="usuario in usuarios">
            <input v-if="usuario.editado" @keyup.enter="atualizarUsuario(usuario)"
                @input="novoNome = $event.target.value" type="text" :placeholder="[[usuario.nome]]">
            <span v-if="!usuario.editado">{{usuario.nome}}</span>
            <button @click="editarUsuario(usuario)">Editar</button>
            <button @click="deletarUsuario(usuario)">Deletar</button>
        </li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let crud = new Vue({
        el: '#root',
        data: {
            usuarios: [{
                    id: 1,
                    nome: 'Maria',
                    editado: false
                },
                {
                    id: 2,
                    nome: 'João',
                    editado: false
                },
                {
                    id: 3,
                    nome: 'Renata',
                    editado: false
                },
                {
                    id: 4,
                    nome: 'Roberta',
                    editado: false
                },
                {
                    id: 5,
                    nome: 'Lucas',
                    editado: false
                },
                {
                    id: 6,
                    nome: 'Bárbara',
                    editado: false
                }
            ],

            novoNome: '',
            isDisabled: true
        },

        methods: {

            adicionarUsuario: function () {

                crud.usuarios.push({
                    id: this.usuarios.length + 1,
                    nome: this.novoNome
                })

                this.novoNome = ''
                input.value = ''
            },

            deletarUsuario: function (usuario) {
                acharIndex = crud.usuarios.indexOf(usuario)
                crud.usuarios.splice(acharIndex, 1);
            },

            editarUsuario: function (usuario) {
                usuario.editado = true;
            },

            atualizarUsuario: function (usuario) {
                usuario.editado = false;
                usuario.nome = this.novoNome;
                this.novoNome = ''
            }
        },


    })
</script>